@font-face {
  font-family: "Inika:Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://static.figma.com/font/Inika-Regular_1") format("woff2");
}

@font-face {
  font-family: "Inspiration:Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://static.figma.com/font/Inspiration-Regular_1") format("woff2");
}

@font-face {
  font-family: 'Inika:Bold';
  font-style: normal;
  font-weight: 700;
  src: url('https://static.figma.com/font/Inika-Bold_1') format('woff2');
}

@font-face {
  font-family: 'Inika:Regular';
  font-style: normal;
  font-weight: 400;
  src: url('https://static.figma.com/font/Inika-Regular_1') format('woff2');
}

@font-face {
  font-family: 'Inspiration:Regular';
  font-style: normal;
  font-weight: 400;
  src: url('https://static.figma.com/font/Inspiration-Regular_1') format('woff2');
}
